*{
    box-sizing:border-box;
}

/* .album-container-detail-page{
    height:200px;
    width:200px;
    border: #A8D0FF solid;
    margin: 0 auto;
    display:block;
} */

div {
    text-align: center;
    padding: 3px 0 3px 0;
}

.album-container{
    margin: 10px auto;
}

.album-image-solo {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #A8D0FF solid;
    border-radius: 3%;
}

.add-album-button{
    font-size: 12px;
}