* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}


.welcome-screen-title {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: #5386E4;
}

nav {
    text-align: center;
    margin: 10px auto;
} 

